@charset "UTF-8";
/* ---------------------- ここから記述 ----------------------------- */
/************************ 問題０7回答欄 ************************/
/************************ 問題０8回答欄 ************************/
.sec05Wrap .sec05Logo {
  width: 50px;
  min-width: 50px;
}

.sec05Wrap h3 {
  font-size: 2rem;
  font-weight: 700;
}

/************************ 問題０９回答欄 ************************/
.sec06Button {
  background-color: #a7f0d8;
  padding: 1rem 2rem;
  border-radius: 8px;
  color: black;
}

/************************ 問題10 回答欄 ************************/
.sec07box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1rem;
}

.sec07item {
  width: 150px;
  aspect-ratio: 1;
  color: #333333;
  background-color: aquamarine;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: #99f0ff;
  background-image: radial-gradient(at 26% 36%, hsl(301, 61%, 65%) 0px, transparent 50%), radial-gradient(at 73% 29%, hsl(353, 94%, 69%) 0px, transparent 50%), radial-gradient(at 90% 52%, hsl(51, 85%, 67%) 0px, transparent 50%), radial-gradient(at 69% 52%, hsl(73, 78%, 73%) 0px, transparent 50%), radial-gradient(at 30% 40%, hsl(302, 89%, 76%) 0px, transparent 50%), radial-gradient(at 74% 18%, hsl(65, 87%, 68%) 0px, transparent 50%), radial-gradient(at 9% 80%, hsl(262, 83%, 64%) 0px, transparent 50%);
}

/************************ 問題11回答欄 ************************/
.gridCardItem {
  border: 1px solid black;
  background-color: white;
  border-radius: 4px;
}

.gridCardItemButton {
  background-color: black;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
}

/* ---------------------- 記述 ここまで----------------------------- */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

:root {
  /* Pantone colorの2023年カラーをメインにした配色 */
  --pBase: #FAEEF2;
  --pMain: #be3455;
  --pDark: #27272a;
  --pSwitch: #00c9b9;
  /* Color Hunt https://colorhunt.co/palette/db6b97f2ffe9a6cf98557c55 */
  /* ナチュラル系の配色 */
  --nBase: #F2FFE9;
  --nMain: #A6CF98;
  --nDark: #557C55;
  --nSwitch: #DB6B97;
  /* Color Hunt https://colorhunt.co/palette/171717444444da0037ededed */
  /* モノトーン系の配色 */
  --dBase: #EDEDED;
  --dMain: #444444;
  --dDark: #171717;
  --dSwitch: #DA0037;
  /* Color Hunt https://colorhunt.co/palette/0a1931185adbffc947efefef */
  /* 寒色ベースのレトロ系配色 */
  --bBase: #EFEFEF;
  --bMain: #185ADB;
  --bDark: #0A1931;
  --bSwitch: #FFC947;
  /* 半透明の白背景 */
  --baseBackground: rgba(255, 255, 255, .6);
  /* 虹色のボーダーカラー。使う時はborder-imageで入れて、border-colorは白を入れる */
  --borderRainbow: linear-gradient(84.75deg, rgb(0, 232, 162) 0%, rgb(0, 163, 255) 23.7%, rgb(182, 28, 255) 57.86%, rgb(234, 25, 62) 87.24%, rgb(253, 197, 0) 100%) 1 / 1 / 0 stretch;
  /* paddingの設定に使用 */
  --innerSmall: 0.5rem;
  --innerMiddle: 1rem;
  --innerLarge: 1.5rem;
  --innerXLarge: 2rem;
  /* marginの設定に使用 */
  --marginSmall: 0.5rem;
  --marginMiddle: 1rem;
  --marginLarge: 1.5rem;
  --marginXLarge: 2rem;
  /* フォントサイズの設定に使用。変数名と値はTailwind CSSと一緒 */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --clampTitle: clamp(clamp(1.1rem, 0.918rem + 0.91vw, 1.5rem));
  --clampText: clamp(0.875rem, 0.8182rem + 0.2841vw, 1rem);
  /* border-radiusの値に使用 */
  --borderR: 0.5rem;
  /* 文字にふんわりした影をつける */
  --textShadowWhite: 0 0 3px #aaa;
  --textShadowBlack: 0 0 3px #777;
  /* headerとfooterの高さの指定。 */
  --headerFooterHeight: 5rem;
  /* ドロワーメニューの変数 */
  --drawerColor: #393f4c;
  /* ドロワーボタンとMENUの色。藍鉄色 */
  --barColor: #eaf4fc;
  /* ドロワーボタンのアニメーションするバーの色。月白色 */
  --menuColor: radial-gradient(farthest-corner circle at 100% 0% in oklab, oklch(100% 0 178 / 80%) 0%, oklch(75% 0.00 196 / 80%) 100%);
}

body {
  font-family: "Sono", "Kosugi Maru", sans-serif;
  font-size: var(--clampText);
  color: #333;
  text-shadow: var(--textShadowWhite);
  background-image: url(../images/background.jpg);
  background-size: cover;
}

img {
  width: 100%;
  /* 画像実寸サイズを無視して指定された値まで広がる */
  height: auto;
}

header {
  height: var(--headerFooterHeight);
  background-color: var(--baseBackground);
  padding: var(--innerMiddle) var(--innerSmall);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table,
td,
th {
  border: 1px solid black;
  padding: 0.5rem;
}

table {
  margin-inline: auto;
  background-color: white;
  margin-block: 2rem;
}

th {
  background-color: lightseagreen;
  color: white;
  text-align: center;
}

form {
  max-width: 450px;
}

form p {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

input[type=text],
input[type=email],
textarea {
  border: 1px solid #333;
  padding: 0.5rem;
  width: 100%;
}

select {
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  border-radius: 4px;
  margin-top: 0.25rem;
}

textarea {
  height: 200px;
}

input[type=submit] {
  background-color: #00c9b9;
  padding: 8px 56px;
  border-radius: 8px;
  color: white;
}

.header__inner {
  width: 64rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: var(--innerSmall);
}

header h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  font-size: var(--text-2xl);
}

.toggleButton {
  display: none;
}

#drawerMenu ul {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#drawerMenu li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

#drawerMenu a {
  display: block;
  padding: 1rem;
  /* マウスが反応する範囲を少し広げている*/
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#drawerMenu a:last-child {
  padding-right: 0;
}

/* アンカーリンクにマウスが乗ると、他のアンカーリンクが少し薄くなる指定 */
#drawerMenu ul:has(a:hover) a:not(:hover) {
  opacity: 0.3;
}

main {
  width: 100%;
  height: 100%;
  min-height: calc(100svh - var(--headerFooterHeight) * 2);
  /* 要素がどれだけ少なくてもフッターが画面下部に表示されるようにするための指定 */
  padding: var(--innerLarge) var(--innerSmall);
}

section {
  max-width: 64rem;
  /* 1024px */
  height: auto;
  background-color: var(--baseBackground);
  padding: var(--innerMiddle) var(--innerSmall);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--marginLarge);
  border-radius: var(--borderR);
}

section h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  border-radius: var(--borderR);
  font-size: var(--text-xl);
  background-color: var(--bBase);
}

/**************** ここからは問題に合わせた固有のCSS *********************/
#sec01 .container li {
  background-color: var(--nMain);
  width: 3rem;
  padding: 1rem 0;
  text-align: center;
  border: 2px solid #666;
}

#sec02 .container li {
  background-color: var(--nSwitch);
  width: 3rem;
  padding: 1rem 0;
  text-align: center;
  border: 2px solid #666;
}

#sec03 .container li {
  background-color: var(--bMain);
  color: #eee;
  width: 3rem;
  padding: 1rem 0;
  text-align: center;
  border: 2px solid #666;
}

#sec04 .container li {
  background-color: var(--pSwitch);
  color: #333;
  width: 3rem;
  padding: 1rem 0;
  text-align: center;
  border: 2px solid #666;
  font-size: 1.2rem;
}

#sec05 .container li {
  background-color: var(--bSwitch);
  color: #333;
  width: 10rem;
  padding: 3rem 0;
  text-align: center;
  border: 2px solid #666;
  font-size: 1.2rem;
}

footer {
  height: var(--headerFooterHeight);
  background-color: var(--dMain);
  background-size: cover;
  padding: 2rem 0;
  background-position: top;
  color: var(--bBase);
  text-align: center;
  text-shadow: var(--textShadowBlack);
}

@media (width <= 800px) {
  /* メディアクエリの値はお好みで */
  header {
    padding-right: 3.5rem;
  }
  .toggleButton {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    display: block;
    /* display:none;を解除するために入れている */
    background: var(--drawerColor);
    border-radius: 5px;
    z-index: 100;
  }
  .toggleButton::after {
    content: "MENU";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: var(--text-xs);
    font-weight: bold;
    color: var(--drawerColor);
  }
  .toggleButton span {
    width: 60%;
    height: 4px;
    display: block;
    position: absolute;
    left: 20%;
    background-color: var(--dBase);
    border-radius: 5px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .toggleButton span:nth-of-type(1) {
    top: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .toggleButton span:nth-of-type(2) {
    top: 18px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .toggleButton span:nth-of-type(3) {
    bottom: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .close span:nth-of-type(1) {
    top: 18px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .close span:nth-of-type(2) {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .close span:nth-of-type(3) {
    bottom: 18px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #drawerMenu {
    position: fixed;
    top: -240px;
    right: -240px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  #drawerMenu.open {
    top: 0;
    right: 0;
  }
  #drawerMenu ul {
    display: block;
    width: 200px;
    height: 100%;
    padding: 80px 20px 20px 20px;
    background-image: var(--menuColor);
    backdrop-filter: blur(3px);
    -webkit-box-shadow: -2px 2px 10px 2px rgba(0, 0, 0, 0.2);
            box-shadow: -2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    list-style-type: none;
    border-radius: 0 0 0 var(--borderR);
  }
  #drawerMenu li {
    width: 100%;
  }
}
/* width <= 800px *//*# sourceMappingURL=style.css.map */